@charset "utf-8";

.ads {
    position: relative;
    background: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

.ads.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ads a {
    color: inherit;
    text-decoration: none;
}

.ads span {
    color: inherit;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
    display: block;
    text-align: center;
}

.ads .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0 !important;
}


.assign_ads {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 2px 10px;
    background: rgb(111, 98, 168);
    color: #fff !important;
    font-size: 11px;
    line-height: 1.4;
    height: 15px;
    text-decoration: none;
}

.text-base {
    position: relative;
    line-height: 1.6;
    padding: 10px 12px !important;
    width: 90%;
    background-color: #fff;
}

.text-base .title {
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-base .thumb {
    float:left;
}
.text-base .text-section {
    float:left;
    width: 60%;
}
.text-base .contents {
    overflow: hidden;
    text-overflow: ellipsis;
}